{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Return to</p>
                <div class="list-group">
                    <a href = "{{url_for('showCategory', category_name = category.name)}}" class="list-group-item">{{category.name}}</a>
                </div>
            </div>

            <div class="col-md-9">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                        <ul>
                        {% for message in messages %}
                            <li> <strong> {{ message }} </strong> </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="row">

                    <div class="col-sm-9 col-lg-9 col-md-9">

                        <div class="thumbnail plus">
                            <img src="{{ item.image_loc }}" alt="{{ item.name }}">
                            <div class="caption plus">
                                <h4>{{ item.name }}</h4>
                                <div class="break">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>

                            {% if session['provider'] %}
                            <div class="ratings">
                                <p class="pull-right"> <a class="btn btn-default" href = "{{url_for('deleteCatalogItem', item_name=item.name, category_name = category.name)}}">Delete</a> </p>
                                <p><a class="btn btn-default" href = "{{url_for('editCatalogItem',item_name=item.name, category_name = category.name)}}">Edit</a></p>
                            </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
