{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Categories</p>
                <div class="list-group">
                    <a href = "{{url_for('showCategories')}}" class="list-group-item"">Home</a>
                    {% for category in categories %}
                        <a href = "{{  url_for('showCategory', category_name = category.name) }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                    {% if session['provider'] %}
                        <a href="{{  url_for('newCategory') }}" class="list-group-item">Create Category</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

                <h1>{{ category.name }} <div style="color:grey; display:inline; font-size:70%">({{ tuple_items[0] }} {{ tuple_items[1] }})</div></h1>
                <div class="thumbnail minus">
                    <img src="{{ category.image_loc }}" alt="{{ category.name }}">
                </div>
                {% if session['provider'] %}
                    <p><a class="btn btn-default" href = "{{url_for('editCategory',category_name = category.name)}}">Edit</a>
                    <a class="btn btn-default" href = "{{url_for('deleteCategory',category_name = category.name)}}">Delete</a> </p>
                {% endif %}


                {% if items !=[] %}
                <h3>All Items</h3>
                <div style="height: 80px;overflow: hidden;">
                {% if session['provider'] %}
                    <a class="btn btn-default" href = "{{url_for('newCatalogItem', category_name = category.name )}}">Create Item</a>
                {% endif %}
                </div>
                <div class="row">

                    {% for item in items %}

                        <div class="col-sm-4 col-lg-4 col-md-4">

                            <div class="thumbnail">
                                <img src="{{ item.image_loc }}" alt="{{ item.name }}">
                                <div class="caption">
                                    <h4><a href="{{ url_for('showCatalogItem', item_name=item.name, category_name=category.name)}}">{{ item.name }}</a></h4>
                                    <div class="break">
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p> You currently have no items. <p>
                    <a class="btn btn-default" href="{{url_for('newCatalogItem', category_name = category.name )}}">Create Item</a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock content %}
