{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Categories</p>
                <div class="list-group">
                    {% for category in categories %}
                        <a href = "{{url_for('showCategory', category_name = category.name)}}" class="list-group-item"">{{category.name}}</a>
                    {% endfor %}
                    {% if session['provider'] %}
                        <a href="{{url_for('newCategory')}}" class="list-group-item">Create Category</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">

              {% with messages = get_flashed_messages() %}
                {% if messages %}

                  <ul>
                  {% for message in messages %}
                      <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
              {% endwith %}

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for category in categories %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for category in categories %}
                                    {% if loop.first %}
                                        <div class="item active">
                                    {% else %}
                                        <div class="item">
                                    {% endif %}
                                        <a href="{{url_for('showCategory', category_name = category.name)}}"> <img class="slide-image" src={{ category.image_loc }} alt={{ category.name }}}></a>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    {% if items %}
                        <h2>9 latest Items </h2>
                        {% for item, cat in items %}

                            <div class="col-sm-4 col-lg-4 col-md-4">

                                <div class="thumbnail">
                                    <a href="{{ url_for('showCatalogItem', item_name=item.name, category_name=cat.name)}}"><img class="img-responsive img-rounded" src="{{ item.image_loc }}" alt=""></a>
                                    <div class="caption">
                                        <h4><a href="{{ url_for('showCatalogItem', item_name=item.name, category_name=cat.name)}}">{{ item.name }}</a></h4>
                                        <h5><a href="{{url_for('showCategory', category_name = cat.name)}}">({{ cat.name }})</a></h5>
                                        <div class="break">
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
