{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

                  <h1>Are you sure you want to delete this Category?</h1>


                  <div class="col-sm-4 col-lg-4 col-md-4 caption">

                        <form action="#" method = 'post'>

                        <input class="btn btn-default" type='submit' value='Delete'>
                        <a class="btn btn-default" href = "{{ url_for('showCategory', category_name=category.name)}}"> Cancel </a>
                        </form>
                </div>
            </div>

        </div>
        <div class="row">

              <div class="col-md-9">
                    <div class="col-sm-6 col-lg-6 col-md-6">

                        <div class="thumbnail">
                            <img src="{{ category.image_loc }}" alt="{{ category.name }}">
                            <div class="caption">
                                <h4>{{ category.name }}</h4>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>

{% endblock content %}
