{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

              <div class="col-md-9">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

                <h1>Edit Item</h1>


                {% from "_formhelpers.html" import render_field %}
                <form action="#" method = 'post' name="edititem">

                    {{ form.hidden_tag() }}

                    <div class="edit-item">
                    <dl>
                        <dt><p>Name:</p>
                            <dd>{{ render_field(form.name, form.name(size=41)) }}

                        </br>
                        <dt><p>Description:</p>
                            <dd>{{ render_field(form.description, form.description(cols="40", rows="6")) }}
                        </br>

                        <dt><p>Image location:</p>
                            <dd>{{ render_field(form.image_loc, form.image_loc(size=41)) }}

                    </div>
                        <input class="btn btn-default" type='submit' value='Edit'>


                        <a class="btn btn-default" href = "{{ url_for('showCatalogItem', item_name=item_name, category_name=category_name)}}"> Cancel </a>

                    </form>

                </div>

            </div>

        </div>

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Thomas Boquet 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>

{% endblock content %}
