{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
            </div>

            <div class="col-md-9">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}


                <h1>New Category</h1>

                {% from "_formhelpers.html" import render_field %}
                <form action="#" method = 'post'>

                    {{ form.hidden_tag() }}

                    <div class="edit-item">
                    <dl>
                        <dt><p>Name:</p>
                            <dd>{{ render_field(form.name, form.name(size=41)) }}

                        </br>

                        <dt><p>Image location:</p>
                            <dd>{{ render_field(form.image_loc, form.image_loc(size=41)) }}

                    </div>
                    <input class="btn btn-primary" type='submit' value='Create'>

                    <a class="btn btn-primary" href = "{{ url_for('showCategories')}}"> Cancel </a>

                </form>

            </div>

        </div>

    </div>

{% endblock content %}
